<li class="class-name list-group-item list-group-item-action">{{code}} - <span class="name">{{name}}</span>,
  {{semester}}</li>
<li class="class-content list-group-item">
  {{description}}
  <button class="select d-block btn btn-sm btn-primary mt-2" data-class-id="{{id}}" data-class-name="{{name}}"
    data-class-code="{{code}} data-class-semester=" {{semester}}" ">SELECT</button>
</li>